.loading-iCuAj {
    background: var(--background-color-level-current);
    position: relative;
    width: 100%;
}

.loading-iCuAj .loader-Kso6C {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        min-height: 100px;
    }

.loading-iCuAj .loader-Kso6C .outerLoader-Xn1Yh {
            border: 3px solid var(--borderColorTertiary);
            border-block-start-color: var(--accentColorPrimary);
            border-radius: 50%;
            position: absolute;
            width: 4vw;
            height: 4vw;
            animation: spin-PAY97 1.5s linear infinite;
        }

@media (min-width: 0em) and (max-width: 37.499em) {

.loading-iCuAj .loader-Kso6C .outerLoader-Xn1Yh {
                width: 25vw;
                height: 25vw;
        }
            }

@keyframes spin-PAY97 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes innerSpin-ezWtA {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* TODO: I hate this theme system and our colors.
    We need to designers to pick better colors for each theme. */

:root {
    --input-slider-primary: #d0d3d3;
    --input-slider-secondary: #899090;

    --customGrey1: #e6e6e6;
    --customGrey2: #bbbbbb;
    --customGrey3: #a2aaad;
    --customGrey4: #97999b;
    --customGrey5: #53565a;
    --footerGrey: #f1f1f3;

    --sans: "Ensign:Sans", Arial, "noto sans", sans-serif;
    --serif: "Ensign:Serif", "Georgia", "Times New Roman", serif;
    --monospace: "Courier New", Courier, monospace;

    --fontSize10: 0.625rem;
    --fontSize12: 0.75rem;
    --fontSize22: 1.375rem;
    --fontSize26: 1.625rem;
    --fontSize30: 1.875rem;
    --fontSize36: 2.25rem;
    --fontSize52: 3.25rem;

    --scrollbar: #929292;
    --scrollbar-hover: #707070;
    --scrollbar-background: #f8f8f8;
    --scrollbar-border: #e8e8e8;

    --spacing10: 0.625rem;
    --spacing12: 0.75rem;
    --spacing20: 1.25rem;
    --spacing40: 2.5rem;
    --spacing60: 3.75rem;

    --button-icon-color-disabled: var(--textColorTertiary);
}

body {
    padding: 0 !important;
    font-size: var(--fontSize18);
    font-family: "Ensign:Sans", Arial, "noto sans", sans-serif;
    font-family: var(--sans);
    line-height: var(--lineHeight);
    background-color: var(--background-color-level-current);
}

.app-oo7_W {
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

.app-oo7_W > main {
        display: flex;
        flex-direction: column;
    }

.panelOpen-bqPDf {
    transform: translateX(calc(0px * -1));
    transform: translateX(calc(var(--panel-offset, 0px) * -1));
}

.panelOpen-bqPDf:dir(rtl) {
        transform: translateX(0px);
        transform: translateX(var(--panel-offset, 0px));
    }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@layer resetCSS {
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol,
    ul {
        list-style: none;
    }
    blockquote,
    q {
        quotes: none;
    }
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: "";
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* additional reset rules*/

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    html {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        font: normal normal var(--fontWeightNormal) var(--fontSize16) /
            var(--lineHeightLoose) var(--sans);
        font-weight: var(--fontWeightNormal);
    }

    body {
        font-weight: var(--fontWeightNormal);
        font-size: var(--fontSize18);
    }

    strong,
    b {
        font-weight: var(--fontWeightBold);
    }

    i,
    cite,
    em,
    var,
    address,
    dfn {
        font-style: italic;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        font-size: 100%;
    }
}

@layer preIPS {
    body {
        color: var(--textColorPrimary);
    }

    a {
        color: var(--accentColorLink);
        text-decoration: none;
    }

        a:hover {
            text-decoration: none;
            color: var(--accentColorLink);
        }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--sans);
        /*margin: 0 0 var(--spacing16);*/
    }

    h1 {
        font: normal normal var(--fontWeightLight) var(--fontSize52) /
            var(--lineHeightTight) var(--sans);
        font-weight: var(--fontWeightLight);
    }

    h2 {
        font-size: var(--fontSize28);
        line-height: 1.2;
        font-weight: var(--fontWeightLight);
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: var(--fontSize18);
        font-weight: var(--fontWeightBold);
    }

    h3 {
        line-height: 1.278;
        letter-spacing: 0.00278em;
        /*text-transform: uppercase;*/
    }

    h4,
    h5,
    h6 {
        line-height: 1.222;
    }

    dt {
        font-size: var(--fontSize18);
        font-style: italic;
        font-weight: var(--fontWeightNormal);
        line-height: var(--lineHeightTight);
    }

    dd {
        margin: 0;
    }

    code {
        font-family: var(--monospace);
        white-space: pre-wrap;
    }
}

.toaster-RYVLT[class] {
    bottom: var(--spacing16);
    left: 50%;
    right: auto;
    display: flex;
    position: fixed;
    align-items: center;
    transition: 250ms ease-in-out;
    transform: translate3d(-50%, calc(100% + var(--spacing16)), 0);
}

.toaster-RYVLT.show-SudTV[class],
    .toaster-RYVLT[class]:focus-within {
        transform: translate3d(-50%, 0, 0);
    }

/* This isn't used but, I figured I'd leave it in here for the future. */

.toaster-RYVLT.right-L9jRq[class] {
    left: auto;
    right: var(--spacing16);
    transform: translate3d(0, calc(100% + var(--spacing16)), 0);
}

.toaster-RYVLT.right-L9jRq.show-SudTV[class],
    .toaster-RYVLT.right-L9jRq[class]:focus-within {
        transform: translate3d(0, 0, 0);
    }

@media print {
    .alert-fJklh[class] {
        display: none;
    }
}

.login-qllBI {
    display: block;
    width: 100%;
    margin-block: var(--spacing8);
    text-align: center;
    font-family: var(--sans);
}
.login-qllBI a {
        margin-block-start: var(--spacing16);
    }
.login-qllBI a:last-of-type {
            margin-block-end: var(--spacing16);
        }
.login-qllBI p {
        margin-inline: var(--spacing8);
    }
.login-qllBI .signInHelpLink-UK6nF {
        display: block;
        text-decoration: none;
    }
.login-qllBI .signInHelpLink-UK6nF:hover {
            text-decoration: none;
        }
.login-qllBI .outOfService-sxJuP {
        color: var(--accentColorDanger);
    }

.iconButton-NNPV2 svg:dir(rtl) {
    transform: scaleX(-1);
}


/*# sourceMappingURL=app.dd0b90aea4bfb55626ad.css.map*/