:root {
  --primary-color: #1E3A5F;
  --secondary-color: #F5F5F5;
  --accent1-color: #D4A017;
  --font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font: var(--font-family);
    font-weight: 400;
    color: var(--primary-color);
}

/* header, main, footer {
  padding: 20px;
  max-width: 840px;
  margin: 20px;
} */

#course-title {
  display: block;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--accent1-color);
  padding: 30px;
}

header nav {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: var(--secondary-color);
  padding: 15px;
}

header nav a {
  text-decoration: none;
}

header a:hover {
  text-decoration: overline;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin: 40px;
}

h1 {
  grid-column: 1 / 3;
  text-align: center;
  font-weight: 200;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 5px;
}

h2 {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--accent1-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.intro img {
  float: right;
  width: 150px;
  height: auto;
  padding: 20px;
}

.intro p {
  position: relative;
  top: 20px;
  right: 20px;
  left: 20px;
  text-align: justify;
}

h3 {
  border-bottom: 1px solid #333;
  padding-bottom: 0.3rem;
  text-align: center;
  color: var(--primary-color);
}

.city img {
  float: left;
  width: 150px;
  height: auto;
  padding: 20px;
}

.city p {
  position: relative;
  top: 20px;
  right: 20px;
  left: 20px;
  text-align: justify;
}

.card {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 5px;
}

ul {
  display: flex;
  flex-direction: column;  
  margin: 1rem 2rem; 
  gap: 0.5rem;
}

li a {
  text-align: left;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 5px 0;
}

