header, main, footer {
    border: 1px solid grey;
    margin: 1rem 0;
    padding: 0.5rem;
    width: 400px;
}

header, footer {
    background: #003785;
    color: #fff;
    text-align: center;
}

main {
    background: skyblue;
}

fieldset {
    border: none;
    padding: 0.5rem 2%;
}

label {
     display: block;
     padding-top: 0.5rem;
}

.wf1 select,
.wf1 input[type="date"],
.wf1 input[id="textarea"],
.wf1 input[id="text"]
{
    display: block;
    border: 1px solid #999;
    padding: 0.75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}


.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-top: 10px;
}

.wf1 input[type="submit"] {
    background-image: linear-gradient(#555 #999);
    padding: 0.75rem;
    width: 96%;
    max-width: 400px;
    margin: 2%;
    font-weight: bold;
    box-shadow: 1px 1px 4px #999;
}