:root {
  --primary-color: yellowgreen; 
  --secondary-color: skyblue; 
  --accent1-color: black; 
  --accent2-color: rgba(255, 255, 255, 0.8); 
  --accent3-color: yellow; 
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

body {
    background-color: var(--secondary-color);
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
   
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.data {
    position: absolute;
    top: 30px;
    left: 20px;
}

.weather {
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
}

h2 {
    color: var(--accent1-color);
    font-weight: bold;
}

section {
    padding: 20px;
    background-color: var(--accent2-color);
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
}

dt {
    text-align: right;
    font-weight: bold;
    padding: 5px;
}

dd {
    padding: 5px;
}

main {
    padding-top: 40px;
}

footer {
    background-color: var(--primary-color);
    border: 1px solid var(--accent3-color);
}

footer p {
    color: var(--accent1-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}



